@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

